/* RESETANDO A TELA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    color: #fff;
    background-color: #282a36;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothin: antialiased !important;
}

.light {
    background-color: #e6ecf0;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothin: antialiased !important;
}

body {
    background-color: #e6ecf0;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothin: antialiased !important;
}

.content {
    max-width: 2500px;
    margin: 0 auto;
    padding: 0 50px;
}

button {
    cursor: pointer;
}

header#main-header {
    height: 46px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    color: #667580;
    font-weight: bold;
    font-size: 13px;
    margin-left: 30px;
}

#logo {
    cursor: pointer
}

header#main-header nav ul li:first-child {
    margin-left: 0;
}

header#main-header nav ul li img {
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
    align-items: center;
}

header#main-header div.side img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

input, button {
    outline: 0;
}

header#main-header div.side button {
    height: 34px;
    width: 90px;
    background-color: #3bb9e3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px;
    border: 0;
}

header#main-header div.side input {
    height: 34px;
    width: 220px;
    border: 1px solid #e6ecf0;
    padding: 0 35px 0 12px;
    font-size: 12px;
    border-radius: 16px;
    color: #667581;
    background: #f5f8fa url("/images/search.svg") no-repeat 190px center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 100%;
    background-color: #3bb9e3;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}

.bar {
    background-color: #fff;
    height: 59px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    height: 100%;
}

.bar .content ul {
    list-style: none;
    display: flex;
    height: 100%;
}

.bar .content ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin: 0 15px;
}

.bar .content ul li.active::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #3bb9e3;
}

.bar .content ul li.active strong {
    color: #3bb9e3;
}

.bar .content ul span {
    font-size: 12px;
    font-weight: bold;
    color: #667580;
}

.bar .content ul strong {
    font-size: 18px;
    color: #667580;
}

.bar .content .actions {
    display: flex;
}

.bar .content .actions button {
    height: 34px;
    width: 90px;
    color: #3bb9e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px;
    border: 1px solid #3bb9e3;
    margin-right: 20px;
}

.wrapper-content {
    display: flex;
}

.wrapper-content aside.profile {
    max-width: 270px;
}

.wrapper-content aside.profile img.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    margin-top: -130px;
}

.wrapper-content aside.profile h1 {
    font-size: 21px;
    color: #1f2226;
    margin-top: 10px;
}

.wrapper-content aside.profile h1 {
    font-size: 21px;
    color: #1f2226;
    margin-top: 10px;
}

.dark .wrapper-content aside.profile h1 {
    font-size: 21px;
    color: #fff;
    margin-top: 10px;
}

.dark .wrapper-content aside.profile span {
    font-size: 14px;
    color: #fff;
}

.dark .wrapper-content aside.profile p {
    font-size: 14px;
    color: #fff;
    margin-top: 15px;
}

.dark .wrapper-content aside.profile ul.list li {
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
}

.wrapper-content aside.profile span {
    font-size: 14px;
    color: #52626c;
}

.wrapper-content aside.profile p {
    font-size: 14px;
    color: #3c4b5f;
    margin-top: 15px;
}

.wrapper-content aside.profile ul.list {
    list-style: none;
    margin-top: 20px;
}

.wrapper-content aside.profile ul.list li {
    margin-top: 5px;
    font-size: 14px;
    color: #52626c;
    display: flex;
    align-items: center;
}

.wrapper-content aside.profile ul.list li#url {
    color: #3bb9e3;
    font-weight: bold;
}

.wrapper-content aside.profile ul.list li:first-child {
    margin: 0;
}

.wrapper-content aside.profile ul.list li img {
    margin-right: 10px;
}

.wrapper-content aside.profile .widget {
    margin-top: 20px;
}

.wrapper-content aside.profile .widget strong {
    font-weight: normal;
    color: #3bb9e3;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.wrapper-content aside.profile .widget strong img {
    margin-right: 5px;
}

.wrapper-content aside.profile .followers ul {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-content aside.profile .followers ul li {
    margin-right: 5px;
    padding-left: 5px;
    width: 60px;
    height: 60px;
    background-color: #d0d5d9;
    border-radius: 50%;
    margin-top: 5px;
}

.wrapper-content aside.profile .images ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
    flex-wrap: wrap;
}

.wrapper-content aside.profile .images ul li {
    flex-grow: 1;
    width: 83px;
    height: 83px;
    border-radius: 8px;
    background-color: #d0d5d9;
    margin-right: 5px;
    margin-top: 5px;
}

.wrapper-content .timeline {
    flex-grow: 1;
    background-color: #fff;
    margin: 20px 20px 0;
}

.dark .wrapper-content .timeline {
    flex-grow: 1;
    background-color: #cccecf;
    margin: 20px 20px 0;
}

.wrapper-content .timeline nav {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
}

.wrapper-content .timeline nav a {
    color: #3bb9e3;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}

.wrapper-content .timeline nav a.active {
    color: #1f2226;
}

.wrapper-content .timeline ul.tweets {
    list-style: none;
}

.wrapper-content .timeline ul.tweets li {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
    display: flex;
}

/* esse > pega o primeiro elemento dentro da classe que match com as condições */

.wrapper-content .timeline ul.tweets li>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wrapper-content .timeline ul.tweets li .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper-content .timeline ul.tweets li .info strong {
    font-size: 18px;
    color: #1f2326;
}

.wrapper-content .timeline ul.tweets li .info strong span {
    font-size: 13px;
    font-weight: normal;
    color: #7b8b9a
}

.wrapper-content .timeline ul.tweets li .info p {
    font-size: 14px;
    color: #1f2326;
    margin-top: 5px;
}

.wrapper-content .timeline ul.tweets li .info .actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.wrapper-content .timeline ul.tweets li .info .actions a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #667580;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}

.wrapper-content .timeline ul.tweets li .info .actions a:first-child {
    margin-left: 0;
}

.wrapper-content .timeline ul.tweets li .info .actions a img {
    margin-right: 5px;
}

.wrapper-content aside.widgets {
    margin-top: 20px;
    max-width: 300px;
}

.wrapper-content aside.widgets .widget {
    background-color: #fff;
    padding: 15px;
}

.dark .wrapper-content aside.widgets .widget {
    background-color: #cccecf;
    padding: 15px;
}

.wrapper-content aside.widgets .widget .title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.wrapper-content aside.widgets .widget .title strong {
    font-size: 15px;
    color: #1f2226
}

.wrapper-content aside.widgets .widget .title .more {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.wrapper-content aside.widgets .widget .title a {
    font-size: 12px;
    color: #3bb9e3;
    text-decoration: none;
    position: relative;
    padding-left: 10px;
    font-weight: bold;
}

.wrapper-content aside.widgets .widget .title a:first-child {
    padding-left: 0;
}

.wrapper-content aside.widgets .follow ul {
    list-style: none;
    margin-top: 10px;
}

.wrapper-content aside.widgets .follow ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCD6DD;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.wrapper-content aside.widgets .follow ul li .profile {
    display: flex;
    align-items: center;
}

.wrapper-content aside.widgets .follow ul li .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wrapper-content aside.widgets .follow ul li .profile .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper-content aside.widgets .follow ul li .profile .info strong {
    color: #1f2326;
    font-size: 14px;
}

.wrapper-content aside.widgets .follow ul li .profile .info strong span {
    font-weight: normal;
    color: #1f2326
}

.wrapper-content aside.widgets .follow ul li .profile .info button {
    height: 27px;
    width: 90px;
    color: #3bb9e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px;
    border: 1px solid #3bb9e3;
    margin-top: 5px;
}

.wrapper-content aside.widgets .follow ul li>a {
    font-size: 14px;
    text-decoration: none;
    color: #CCD6DD;
}